name: phosio

services:
  # ----------------------------------------------------------
  # APLICAÇÃO WEB (FRONTEND)
  # ----------------------------------------------------------
  app-dev:
    container_name: phosio-app-dev
    profiles: ["dev"]
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app
    ports:
      - "5173:3000"

    environment:
      VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
      VITE_SUPABASE_PUBLISHABLE_KEY: ${VITE_SUPABASE_PUBLISHABLE_KEY}
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "200"
      NPM_CONFIG_UPDATE_NOTIFIER: "false"

    volumes:
      - .:/app
      - /app/node_modules


    command: >
      sh -lc "
        echo 'Iniciando Phosio Web...';
        [ -x node_modules/.bin/remix ] || npm ci --foreground-scripts --no-audit --no-fund;
        ./node_modules/.bin/remix dev -c './node_modules/.bin/remix-serve build/index.js --host 0.0.0.0 --port 3000'
      "

  # ----------------------------------------------------------
  # PRODUÇÃO
  # ----------------------------------------------------------
  app-prod:
    container_name: phosio-app-prod
    profiles: ["prod"]
    build:
      context: .
      args:
        VITE_SUPABASE_URL: ${VITE_SUPABASE_URL}
        VITE_SUPABASE_PUBLISHABLE_KEY: ${VITE_SUPABASE_PUBLISHABLE_KEY}
    ports:
      - "8080:80"
    restart: unless-stopped